<header class="page-header pure-g">
	<div class="pure-u-1 pure-u-md-1-2">
		<a href="/" class="page-title">
			Eric Carlisle : UI Developer, UX Designer
		</a>
	</div>
	<nav class="pure-u-1 pure-u-md-1-2">
		<ul class="page-navigation">
		{{ $currentNode := . }}
		{{ range .Site.Menus.main }}<li>
				<a class="sidebar-nav-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">
					{{ .Name }}
				</a>
			</li>{{ end }}
		</ul>
	</nav>
</header>
