<aside class="page-profile pure-u-1 pure-u-md-1-4">
	<figure>
		<img class="pure-img headshot" src="/img/global/eric-carlisle-headshot-grayscale.png" alt="Eric Carlisle">
		<figcaption>
			<div>Eric Carlisle</div>
			<div>UI Developer, UX Designer</div>
		</figcaption>
	</figure>
	<div class="social-icons">
		<a href="https://twitter.com/eric_carlisle" title="Eric's Twitter Profile">
			<img src="/img/global/twitter-icon.svg" class="icon28" alt="Twitter Logo" />
		</a>
		<a href="https://github.com/ecarlisle" title="Eric's LinkedIn Profile">
			<img src="/img/global/github-icon.svg" class="icon28" alt="Slideshare Logo" />
		</a>
		<a href="https://www.linkedin.com/in/ericcarlisle" title="Eric's LinkedIn Profile">
			<img src="/img/global/linkedin-icon.svg" class="icon28" alt="LinkedIn Logo" />
		</a>
		<a href="https://www.slideshare.net/ericcarlisle" title="Eric's LinkedIn Profile">
			<img src="/img/global/slideshare-icon.svg" class="icon28" alt="Slideshare Logo" />
		</a>
		<a href="https://medium.com/@eric_carlisle" title="Eric's Medium Profile">
			<img src="/img/global/medium-icon.svg" class="icon28" alt="Medium Logo" />
		</a>
	</div>
</aside>
