<!-- Blog Sidebar 1 -->
<!--
<aside class="page-sidebar pure-u-1 pure-u-md-1-8">
	<div class="bmar3">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-1380430605264409"
		     data-ad-slot="7177782577"
		     data-ad-format="auto"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
-->
<!-- Blog Sidebar 2 -->
<!--
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-1380430605264409"
	     data-ad-slot="8654515771"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
-->
</aside>
