// ---------- Colors ---------- //
$dark-blue: #223647;
$med-blue: #376f93;
$light-blue: #a3b6c4;
$white: #f6f4f4;
$dark-gray: #666;
$link-color: #387093;
$border-color: #666666;

// ---------- Fonts ---------- //
$header-footer-font-stack: 'Exo 2', 'Helvetica Neue', Helvetica, sans-serif;
$title-font-stack: 'Roboto Condensed', 'Helvetica Neue', Helvetica, sans-serif;
$content-font-stack: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
