@mixin fontface ($name, $file, $weight, $style) {
	@font-face {
		font-family: "#{$name}";
		src: url(../fonts/#{$name}/#{$file}.woff) format("woff2"),
			 url(../fonts/#{$name}/#{$file}.woff) format("woff"),
			 url(../fonts/#{$name}/#{$file}.ttf) format("truetype");
		font-weight: $weight;
		font-style: $style;
	}
}
