/*!
Eric Carlisle : UI Developer, UX Designer
*/
@import 'config';
@import 'mixins';
@import 'layout';
@import 'header';
@import 'profile';
@import 'content';
@import 'sidebar';
@import 'components';
@import 'footer';

*, *:after, *:before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: $white;
	color: $dark-gray;
	font-family: $content-font-stack;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 3rem;
	margin: 0;
	padding: 0;
}

figure {
	margin: 0;
	image {
		display: inline-block;
	}
}

a {
	color: $med-blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	font-family: $title-font-stack;
	font-weight: 400;
}

h1 {
	border-bottom: solid 1px $dark-gray;
	font-size: 2rem;
	line-height: 3rem;
	@include bp(md) {
		font-size: 3rem;
		padding-bottom: 1rem;
	}
}

h2 {
//	font-size: 2.6rem;
//	line-height: 3rem;
	font-size: 2rem;
	line-height: 3rem;
	margin-top: 2rem;

	@include bp(lg) {
		font-size: 2.6rem;
	}
}


h3 {
//	font-size: 2rem;
//	line-height: 1rem;
//	margin: 3rem 0 1rem;
	font-size: 2rem;
	line-height: 2.5rem;
}

.postdate {
	font-family: $content-font-stack;
}

h1, h2 {
	margin: 0 0 1rem;
}

hr {
	border: solid 1px #ccc;
	border-width: 1px 0 0 0;
}

div.highlight {
	border-radius: 1rem;
	font-size: 1.6rem;
	padding: 1.6rem;
	pre {
		color: #eee;
		margin: 0;
	}
}

.social-icons {
	a {
		border-radius: 3px;
		height: 38px;
		width: 38px;
		display: inline-block;
		padding: 5px;
		&:hover {
			background-color: #e5e5e5;
		}
		img {
			height: 28px;
			width: 28px;
		}
	}
}

.gist-data {
	max-height: 45rem;
}
